
        /* http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
        */
        *, *:before, *:after {
            box-sizing: border-box;
        }
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /*custom css*/
        html {
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
        }
        body {
          background-color: #0077C8;
          color: #ffffff;
        }
        button {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
        }
        
        .ResultPage .ResultSection .RuleTitle {
            font-weight: 700;
            font-size: 1.2rem;
            margin-bottom: 15px;
            text-align: center;
        }
        
        .ResultSection .result .h2 {
            text-align: center;
        }

        .RuleLink {
            margin-bottom: 15px;
            color: #ffffff;
            display: block;
        }
        .RuleLink a {
            color: #7ffed4;
        }
        #resultcount span {
            font-weight: bold;
        }
        /* Style the buttons that are used to open and close the accordion panel */
        .accordion-group {
            margin-bottom: 5px;
        }
        .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .accordion:hover {
        background-color: #ccc;
        }

        /* Style the accordion panel. Note: hidden by default */
        .panel {
        background-color: white;
        display: none;
        overflow: hidden;
        }

        .panel.active {
            display: block;
        }

        .ResultPage {
            display: flex;
            width: 100%;

        }
        .ResultPage .ResultSection {
            flex: 1 ;
            border-left: 2px black solid;
            padding: 1.2rem;
            text-align: center;
            height: 100vh;
            overflow-y: auto;
        }

        .RuleDescription {
            margin-bottom:20px;
        }

        .ResultPage .ResultSection h2 {
            font-size: medium;
            margin-bottom: 10px;
            text-align: left;
        }

        .ResultPage .ResultSection h2:nth-of-type(2) {
            text-align: left;
        }

        .ResultPage .ResultSection:first-child {
            border-left: none;
        }
        .Flex-h {
            display: flex;
            justify-content: space-between;
        }

        .ResultPage .result:first-child {
            flex: 1;
            overflow-y: auto;
        }

        .buttons-top-wrapper, .buttons-bottom-wrapper {
            background-color: #0077C8;
            width: 100%;
            padding: 15px 0;
            display: flex;
            flex: 0 0 auto;
            justify-content: space-between;
        }

        .buttons-top-wrapper {
            flex-direction: column;
            padding-top: 0;
        }

        .buttons-bottom-wrapper {
            padding-bottom: 0;
        }

        .buttons-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .buttons-top-wrapper > button {
            margin: 0 15px;
        }

        .buttons-top-wrapper .top-block {
            margin-top: 15px;
        }

        .PanelButton {
            border: 0;
            background-color: transparent;
            width: 100%;
            padding: 1rem;
            cursor: pointer;
            align-items: center;
        }
        .PanelButton:hover {
            background-color: rgba(122, 161, 152, 0.239);
        }
        .PanelButton.active {
            background-color: aquamarine;
        }
        .PanelButton > span {
            text-align: right;
            width: 30%;
        }
        .QuestionText {
            text-align: left;
            padding: 1rem 0;
        }
        .actionButtons {
            display: flex;
            justify-content: space-between;
            background-color: #0077C8;
            position: fixed;
            width: calc(50% - 2.4rem - 4px);
            bottom: 0;
            padding: 15px 0;
        }
        .ResultList {
            counter-reset: section;
        }
        .ResultList > li {
            padding-top: 1rem;
            padding: 15px;
            background-color: #ffffff;
            color: #000000;
            margin-top: 15px;
        }
        .ResultList.ManualTest > li {
            margin-top: 5px;
        }

        .ResultList > li > div {
            position: relative;
        }

        .result-counter-before {
            counter-increment: section;
        }

        .SectionRules  {
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
        }

        .categories-result {
            overflow-y: auto;
            margin: 0 -7px;
            position: relative;
            left: 8px;
            padding-right: 15px;
            flex: 1;
        }

        .result-counter, .result-counter-before::before {
            display: block;
            background-color: #0077C8;
            border-radius: 50%; 
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            color: black;
        }

        .result-counter-before::before {
            top: -10px;
            left: -10px;
            position: absolute;
            content: counter(section);
        }

        .result-counter.result-counter-pass, .result-counter-pass.result-counter-before::before {
            background-color: #5bc83e;
            
        }

        .result-counter.result-counter-pass.reduce-size {
            width: 20px;
            height: 20px;
           
        }

        .result-counter.result-counter-fail.reduce-size {
            width: 20px;
            height: 20px;
            
        }

        .result-counter.result-counter-cannottell.reduce-size {
            width: 20px;
            height: 20px;
        }

        .result-counter.result-counter-inapplicable.reduce-size {
            width: 20px;
            height: 20px;
        }

        .result-counter.result-counter-uncompleted.reduce-size {
            width: 20px;
            height: 20px;
         }

        .result-counter.result-icon {
            font-size: 2rem;
            margin-left: 5px;
        }

        .result-counter-total-list {
            margin-right: 35px;
        }

        .result-counter-total-list .result-counter.result-counter-inapplicable, .result-counter-total-list .result-counter.result-counter-total {
            border-color: white;
            color: white;
        }

        .result-counter.result-counter-fail, .result-counter-fail.result-counter-before::before {
            background-color: #f52226;
            color:white;
        }

        .result-counter.result-counter-inapplicable, .result-counter-inapplicable.result-counter-before::before {
            background-color: transparent;
            border: 1px solid black;
        }

        .result-counter.result-counter-cannottell, .result-counter-cannottell.result-counter-before::before {
            background-color: white;
        }

        .result-counter.result-counter-uncompleted, .result-counter-uncompleted.result-counter-before::before {
            background-color: #fdfc4f;
        }

        .result-counter.result-counter-total, .result-counter-total.result-counter-before::before {
            border: 1px solid black;
            background-color: transparent;
            border-radius: 0;
        }

        .result-counter.result-counter-total.reduce-size {
            width: 20px;
            height: 20px;
        }

        .counter-list-color {
            display: flex;
        }

        .category-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .category-content > .counter-list-color {
            margin-left: 10px;
        }

        .category-content .result-counter.result-counter-total {
            margin-left: 20px;
        }

        .counter-list-color > li {
            margin: 0 5px;
        }

        .resultFilters {
            display: flex;
            flex-wrap: wrap;
            background-color: #eee;
            padding: 13px 18px 0;
            color: black;
            width: 100%;
        }

        .resultFilters .filter-rule {
            padding-bottom: 1rem;
            width: 50%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .resultFilters .filter-rule .filter-checkbox {
            display: flex;
            align-items: center;
        }
        .show-results-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }

        .show-results-top > ul {
            display: flex;
        }

        .ResultPage .ResultSection .show-results-top h2 {
            margin-bottom: 0;
        }

        .show-results-top > ul li {
            margin: 0 5px;
        }

        .show-results-top > ul li .result-counter-total {
            margin-left: 20px;
        }
        
        #resultcount h2 {
            font-size: medium;
            margin-bottom: 10px;
            display: flex;
        }

        .CommunicateResult > div {
            padding: 1rem 0 0 0;
            font-size: 1.1rem;
        }
        .CommunicateResult > div > span {
            font-weight: bold;
        }
        .CommunicateResult > textarea {
            resize: none;
            width: 100%;
            height: 50px;
            margin: 2rem 0;
        }
        .ResultList > li .checkmark {
            margin-bottom: 1rem;
            display: block;
            font-size: 1.2rem;
            font-weight: bolder;
            align-items: center;
            display: flex;
            justify-content: center;
        }   
        
        .manualTestText {
            font-size: 1rem;
            line-height: 150%;
            margin-bottom: 15px;
            text-align: left;
        }
        .RuleWhy {
            font-weight: normal;
        }
        .RuleImportance {
            margin-top: 15px;
            font-size: 1rem;
            font-weight: bold;
            border: 2px solid white;
            padding: 15px;
        }
        .stepsReproduce {
            margin-top: 15px;
            text-align: left;
        }
        .manualTestQuestion {
            font-weight: bold;
            margin-right: 10px;
        }
        .manualTest-area {
            display: flex;
            align-items: center;
        }

        .selectwarning {
            font-size: 2rem;
            width: 100%;
            margin-bottom: 8px;
            display: none;
            color: rgb(226, 203, 0);
            text-align: center;
        }
        .visible {
            display: block;
        }
        .panelRule {
            flex: 1 1 auto;
            margin: 0 10px;
            text-align: left;
            display: flex;
            align-items: center;
        }
        .panelRuleName {
            margin-right: 10px;
        }
        .panelRuleCount { 
            display: block;
            flex: 0 0 auto;
        }
        .popup-wrapper {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.4);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .popup-wrapper.show {
            visibility: visible;
        }

        .popup-content {
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 15px;
            background: #0077C8;
        }

        
        .material-icons.testtype {
            padding: 5px;    
        }

        .legend-hover {
            position: relative;
        }

        .legend-hover .info-hover {
            display: none;
            z-index: 1;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translateX(-50%);
            padding: 4px;
            background-color:#5b5b5b;
            color: #ffffff;
            font-size: 12px;
        }

        .legend-hover.active .info-hover {
            display: block;
        }
/*
        #legend {
            background-color: #eee;
            color: black;
            padding: 13px 18px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        #legend > div {
            margin: 5px 0px;
            width: 50%;
            display: flex;
            align-items: center; 
        }

        .white-box {
            background-color: #eee;
        }

        .white-box > div {
            color: black;
            display: flex;
            padding: 0px 0px;
            width: 100%;
            flex-wrap: wrap;
        }
*/
     